{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>Привет, <span style="color:red">я</span> Павел.</h1>
    <p>Рад, что мой путь привел меня на <a href="https://practicum.yandex.ru" target="_blank">Yandex.Practicum</a>, где я разрабатываю данный проект.</p>
    <p>Мой <a href="https://github.com/web2cap" target="_blank">Github</a>, подписывайтесь!</p>
    <p>Практикум дает большую мотивацию в изучении разработки, я намерен дойти до конца и получить работу мечты.</p>
    <p><em>Полный вперед!</em></p>
</div>
{% endblock %}